<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<title> Ishita Doshi </title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<h1 align="right"> Ishita Doshi </h1>
<nav align="right">
<ul>
<li> <a href="mailto:ishita.doshi@mtech2017.iitgn.ac.in" class="btn"><i class="fa fa-at"> </i></a></li>
<li> <a href="https://github.com/ishita-doshi" class="btn"><i class="fa fa-github"></i><span></span></a> </li>
<li> <a href="https://www.linkedin.com/in/ishita-doshi/" class="btn"><i class="fa fa-linkedin"><span></i></span></a> </li>
</ul>
</nav>
<nav align="right">
<ul>
<li><a href="/">Home</a></li>
<li><a href="index.html#publications">Publications</a></li>
<li><a href="/links/Ishita_CV.pdf">CV</a></li>
</ul>
</nav>
<div class="container">
			{{ content }}
</div><!-- /.container -->
<footer>
<ul>
<li> <a href="mailto:ishita.doshi@mtech2017.iitgn.ac.in" class="btn"><i class="fa fa-at"> </i></a></li>
<li> <a href="https://github.com/ishita-doshi" class="btn"><i class="fa fa-github"></i><span></span></a> </li>
<li> <a href="https://www.linkedin.com/in/ishita-doshi/" class="btn"><i class="fa fa-linkedin"><span></i></span></a> </li>
</ul>
</footer>
</body>
</html>
